[submodule ".tmux/tmux-powerline"]
	path = .tmux/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule ".vim/bundle/vimproc"]
	path = .vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc
[submodule "zsh/completions/hub"]
	path = zsh/completions/hub
	url = git@github.com:github/hub.git
[submodule "powerline/fonts"]
	path = powerline/fonts
	url = git@github.com:powerline/fonts.git
[submodule "zsh/zsh-bundle-exec"]
	path = zsh/zsh-bundle-exec
	url = git@github.com:rhysd/zsh-bundle-exec.git
